<div class='burgerImg'>
	<img class='burger' src='./images/burger.png'>
</div>

<h1 style='text-align: center'>Eat-Da-Burger!</h1>

<div class='mainDiv'>
	
	<div class='leftDiv'></div>

	<div class='middleDiv'>
		<form>
			<input id='burgerName' type='text' placeholder='Enter a burger'>
			<button id='submitBurger' type='submit'>Submit</button>
		</form>
	</div>

	<div class='rightDiv'></div>

</div>