body {
	background-color: teal;
}

.btn {
	outline: none;
	border: none;
	cursor: pointer;
	display: block;
	position: relative;
	background-color: #fcad26;
	font-size: 16px;
	font-weight: 300px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 25px 80px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 6px #efa424;
}

.btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.btn:active {
	box-shadow: none;
	top: 6px;
}

.btn:focus, .btn:active, .btn:hover {
	outline: 0 !important;
	border: none;
}

h2 {
	display: flex;
	justify-content: center;
}

.gifDisplay {
	display: flex;
	margin-top: 20px;
}

.state {
	height: 200px;
	width: 200px;
}

.gifContentDiv {
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	border: 2px solid black;
	margin: 15px;
	flex: 1;
	padding: 10px;
}

.gifSearch {
	display: flex;
	justify-content: center;
}

.buttonsDiv {
	display: flex;
	justify-content: center;
	margin: 20px 10px;
}

.gif {
	margin: 10px;
	height: 50px;
	width: 100px;
	text-decoration: uppercase;
	font-weight: bolder;
}